/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
	background-color: #DDDDDD;
}
svg .player {
	fill: yellow;
	stroke: red;
	stroke-width: 2;
}
svg .enemy {
	fill: black;
}